@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

html,
body,
:root {
  height: 100vh;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
}


@layer components{
  .gridIcon{
    @apply h-9 w-9 p-1 rounded-2xl bg-sky-500/30 text-blue-500
  }
  .scrollbar::-webkit-scrollbar{
    height: 10px;
    /* background: gray; */
  }

  .scrollbar1::-webkit-scrollbar-thumb{
    background: rgb(161, 155, 155);
    border-radius: 6px;
  }

  .imageUrl{
    background-image: url('/assets/lms-banner-4.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    background-position-y: top;
  }

  @media (min-width:440px) {
    .imageUrl{
      background-image: url('/assets/lms-banner-4.png');
      background-repeat: no-repeat;
      background-size:cover;
      background-position: left top;
      background-position-x: left;
    }
  }
}


@layer utilities{
  .fontSize{
    color: rgb(92, 91, 91);
    font-size: 14px;
    font-weight: 400;
  }
  .ul-li{
    cursor: pointer;
  }
  .ul-li:hover{
    cursor: pointer;
    color: orange;
    transition: all ease-in-out;
  }

  .linehight{
    line-height: loose;
  }
  
}




